.title-visualization {
    text-align: center;
    margin-top: 10px;
}

#pandemic-period-label {
    padding-top: 30px;
}

.card-info {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 80px;
}

.card-info .card-info-title {
    font-weight: bold;
}