<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/dc/dc.css')}}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Vaccine Evolution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('vaccine') }}">Vaccine</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- import libs -->

    <script src="{{url_for('static', filename='js/bootstrap/popper.min.js')}}" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/d3/d3.v5.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/crossfilter/crossfilter.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dc/dc.js')}}"></script>

    <!-- import visualization script -->

    <script src="{{url_for('static', filename='js/visualizations/vaccine.js')}}"></script>

  </body>
</html>