{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Vaccine Analysis{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="home-content">
  <h2>Covid-19 immunization analysis</h2> <br>
  <p>Since 2020, the covid-19 pandemic has affected the entire world population. Several health restrictions have been imposed, and there has been a drastic change in all humans' lifestyles. Several tools were developed to monitor the evolution of the pandemic.</p>
  <p>This tool will allow an analysis of the vaccination process in the countries of the world. In addition, the tool presents information regarding the side effects caused by vaccines.</p>
</div>

{% endblock %}